@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:regular,500,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lato:regular&display=swap);

:root {
  --btn-font-family: font-family: 'Lato', sans-serif;
  --btn-font-weight: 700;
  --btn-text-color: #ffffff;
  
}
