/* font-family: 'Lato', sans-serif;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Roboto', sans-serif; */
body {
  font-family: "Red Hat Display", sans-serif;
}

.wrapeer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  z-index: 999;
}

.header__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: -1;
}

.search {
  position: relative;
}
.search__area {
  position: absolute;
  top: 0px;
  right: 18px;
  display: inline-block;
  width: 80px;
  transition: all 0.6s ease;
  border: 1px solid #000000;
}

.search__checkbox:not(:checked) + .search__area {
  transform: scale(0);
}

.nav {
  flex: 1 1 500px;
}
.nav__list {
  display: flex;
  justify-content: flex-end;
  margin-right: 84px;
  gap: 42px;
}
.nav__item {
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.21;
}
.nav__link {
  color: #000000;
}

.burger {
  display: none;
  margin-left: 80px;
}
.burger__label {
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
  width: 40px;
  display: block;
}
.burger__line {
  position: absolute;
  top: 20px;
  right: 0;
  width: 34px;
  height: 2px;
  background-color: #000000;
  transition: all 0.3s ease-out;
}
.burger__line_second {
  top: 30px;
}
.burger__line_third {
  top: 30px;
}
.burger__line_fourth {
  top: 40px;
}
.burger__nav {
  position: absolute;
  transition: all 0.5s ease-out;
  transform: translate(0, -1000px);
  left: 0;
  width: 100%;
  text-align: center;
  z-index: -2;
}
.burger__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  background-color: cornsilk;
}
.burger__item {
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.21;
}
.burger__link {
  font-size: 48px;
  color: #000000;
}

#burger:checked ~ .burger__nav {
  transform: translate(0, 0);
}

#burger:checked ~ .burger__label .burger__line_first,
#burger:checked ~ .burger__label .burger__line_fourth {
  display: none;
}

#burger:checked ~ .burger__label .burger__line_second {
  transform: rotate(45deg);
}

#burger:checked ~ .burger__label .burger__line_third {
  transform: rotate(-45deg);
}

@media (max-width: 850px) {
  .nav__list {
    gap: 30px;
  }
}
@media (max-width: 769px) {
  .burger {
    display: unset;
  }

  .header__container {
    height: 60px;
  }

  .header__nav {
    display: none;
  }

  .search {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
  }
}
.main__container {
  position: relative;
}
.hero__bgi {
  position: absolute;
  top: 0;
  left: -135px;
  width: 1440px;
  height: 600px;
  background-image: url("../img/hero/bg-image.png");
}
.hero__title {
  display: flex;
  flex: 1 1 auto;
  position: absolute;
  top: 100px;
  left: 0;
  height: 120px;
}

.hero__title h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.33;
  letter-spacing: 0.05em;
  color: #000000;
}/*# sourceMappingURL=style.css.map */