/* font-family: 'Lato', sans-serif;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Roboto', sans-serif; */
body {
  font-family: "Red Hat Display", sans-serif;
}

.wrapeer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}

@media (max-width: 769px) {
  .wrapeer {
    padding: 0;
  }
}
.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  z-index: 999;
}
@media (max-width: 769px) {
  .header__container {
    padding-left: 5px;
  }
}

.header__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: -1;
}

.search {
  position: relative;
}
.search__area {
  position: absolute;
  top: 0px;
  right: 18px;
  display: inline-block;
  width: 80px;
  transition: all 0.6s ease;
  border: 1px solid #000000;
}

.search__checkbox:not(:checked) + .search__area {
  transform: scale(0);
}

.nav {
  flex: 1 1 500px;
}
.nav__list {
  display: flex;
  justify-content: flex-end;
  margin-right: 84px;
  gap: 42px;
}
.nav__item {
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.21;
}
.nav__link {
  color: #000000;
}

.burger {
  display: none;
  margin-left: 80px;
}
.burger__label {
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
  width: 40px;
  display: block;
}
@media (max-width: 769px) {
  .burger__label {
    margin-right: 10px;
  }
}
.burger__line {
  position: absolute;
  top: 20px;
  right: 0;
  width: 34px;
  height: 2px;
  background-color: #000000;
  transition: all 0.3s ease-out;
}
.burger__line_second {
  top: 30px;
}
.burger__line_third {
  top: 30px;
}
.burger__line_fourth {
  top: 40px;
}
.burger__nav {
  position: absolute;
  transition: all 0.5s ease-out;
  transform: translate(0, -1000px);
  left: 0;
  width: 100%;
  text-align: center;
  z-index: -2;
}
.burger__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  background-color: cornsilk;
}
.burger__item {
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.21;
}
.burger__link {
  font-size: 48px;
  color: #000000;
}

#burger:checked ~ .burger__nav {
  transform: translate(0, 0);
}

#burger:checked ~ .burger__label .burger__line_first,
#burger:checked ~ .burger__label .burger__line_fourth {
  display: none;
}

#burger:checked ~ .burger__label .burger__line_second {
  transform: rotate(45deg);
}

#burger:checked ~ .burger__label .burger__line_third {
  transform: rotate(-45deg);
}

@media (max-width: 850px) {
  .nav__list {
    gap: 30px;
  }
}
@media (max-width: 769px) {
  .burger {
    display: unset;
  }

  .header__container {
    height: 60px;
  }

  .header__nav {
    display: none;
  }

  .search {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
  }
}
.main__container {
  position: relative;
}
.main__hero {
  background: no-repeat url("../img/hero/bg-image.png");
  background-size: cover;
  background-position: center;
}

.hero {
  max-width: 1440px;
  height: 600px;
}
@media (max-width: 769px) {
  .hero {
    height: 320px;
    max-width: 768px;
  }
}
.hero__title {
  display: flex;
  flex: 1 1 auto;
  position: absolute;
  top: 100px;
  left: 0;
  height: 120px;
}
@media (max-width: 769px) {
  .hero__title {
    top: 30px;
  }
}

.hero__title h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.33;
  letter-spacing: 0.05em;
  color: #000000;
}

@media (max-width: 769px) {
  .hero__title h1 {
    font-size: 36px;
    line-height: 1.38;
    padding-left: 5px;
  }
}
.main__blog {
  margin-top: 90px;
}
@media (max-width: 769px) {
  .main__blog {
    margin-top: 70px;
  }
}
.main__title {
  font-size: 48px;
  line-height: 1.33;
  letter-spacing: 0.05em;
  color: #000000;
  padding-bottom: 50px;
}
@media (max-width: 769px) {
  .main__title {
    text-align: center;
  }
}

.blog__list {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.blog__item {
  display: flex;
  gap: 60px;
}
@media (max-width: 1000px) {
  .blog__item {
    gap: 20px;
  }
  .blog__list {
    row-gap: 20px;
  }
}
@media (max-width: 769px) {
  .blog__item, .blog__item:nth-child(2) {
    flex-direction: column-reverse;
  }
}
.blog__img {
  width: 50%;
}
@media (max-width: 769px) {
  .blog__img {
    width: 100%;
  }
}
.blog__item:nth-child(2) {
  flex-direction: row-reverse;
}
@media (max-width: 769px) {
  .blog__item:nth-child(2) {
    flex-direction: column-reverse;
  }
}
.blog__image-size {
  width: 100%;
  height: auto;
}
.blog__description {
  display: flex;
  flex-direction: column;
  margin-top: 85px;
}
.blog__item:nth-child(2) .blog__description {
  margin-top: 85px;
}
@media (max-width: 1000px) {
  .blog__description, .blog__item:nth-child(2) .blog__description {
    margin-top: 0px;
  }
}
.description {
  width: 50%;
  height: 300px;
}
.description__category {
  font-family: "Lato";
  font-weight: normal;
  font-size: 16px;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: #7B7B7B;
  margin-bottom: 30px;
}
.description__title {
  font-weight: 500;
  font-size: 23px;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 15px;
}
@media (max-width: 769px) {
  .description {
    font-size: 22px;
  }
}
.description__date {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: #7B7B7B;
  margin-bottom: 50px;
}
@media (max-width: 1000px) {
  .description__date {
    margin-bottom: 20px;
  }
}
.description__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
}
.description__text::after {
  content: url(../img/blog/arrow-icon.svg);
  margin-left: 20px;
}

@media (max-width: 769px) {
  .description {
    width: 100%;
    height: unset;
  }
}
.post__title {
  font-family: "Red Hat Display";
  margin-top: 90px;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: #000000;
}
@media (max-width: 1000px) {
  .post__title {
    margin-top: 70px;
  }
}
.post__cards {
  display: flex;
  -moz-column-gap: 45px;
       column-gap: 45px;
}
@media (max-width: 1000px) {
  .post__cards {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 769px) {
  .post__cards {
    gap: 50px;
  }
}
.post__card {
  width: 370px;
}
@media (max-width: 1000px) {
  .post__card {
    width: 100%;
    display: flex;
    gap: 20px;
  }
  .post__card:nth-child(2) {
    flex-direction: row-reverse;
  }
}
@media (max-width: 769px) {
  .post__card, .post__card:nth-child(2) {
    flex-direction: column;
  }
}
.post__img-size {
  width: 100%;
  height: auto;
}
@media (max-width: 1000px) {
  .post__img {
    width: 50%;
  }
}
@media (max-width: 769px) {
  .post__img {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .post__description {
    width: 50%;
  }
}
@media (max-width: 769px) {
  .post__description {
    width: 100%;
  }
}
.post__category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 25px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}
@media (max-width: 1000px) {
  .post__category {
    margin-top: 0;
    font-size: 16px;
  }
}
.post__description-title {
  margin-bottom: 20px;
  font-family: "Red Hat Display";
  font-weight: 500;
  font-size: 22px;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: #000000;
}
.post__description-text {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.66;
  letter-spacing: 0.05em;
  color: #565656;
}

.most__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 90px;
  margin-bottom: 50px;
}
@media (max-width: 769px) {
  .most__title {
    margin-top: 70px;
  }
}
.most__title-popular {
  font-family: "Red Hat Display";
  font-weight: 600;
  font-size: 28px;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: #000000;
}
.most__title-view {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}
.most__title-view::after {
  content: url(../img/blog/arrow-icon.svg);
  margin-left: 20px;
}
.most__cards {
  display: flex;
  gap: 60px;
}
@media (max-width: 1000px) {
  .most__cards {
    gap: 20px;
  }
}
@media (max-width: 769px) {
  .most__cards {
    flex-direction: column;
    gap: 50px;
  }
}
.most__card {
  width: 50%;
}
@media (max-width: 769px) {
  .most__card {
    width: 100%;
  }
}
.most__img {
  margin-bottom: 20px;
}
.most__img-size {
  width: 100%;
  height: auto;
}
.most__category {
  display: flex;
  justify-content: space-between;
  font-family: "Lato";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: #7B7B7B;
  margin-bottom: 20px;
}
@media (max-width: 1000px) {
  .most__category {
    font-size: 16px;
  }
}
.most__description-title {
  font-family: "Red Hat Display";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 20px;
}
.most__description-text {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.66;
  letter-spacing: 0.05em;
  color: #565656;
}
.most__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 90px;
  width: 180px;
  height: 46px;
  background: #565656;
}
.most__btn-link {
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */